header img {
    height: 70px;
    margin-left: 40px;
    box-shadow: #2e424d;
    
}
body {
    height: 125vh;
    background-color: white;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}
main {
    color: #2e424d;
}
header {
    background-color: #eaebed;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}
.card {
    align-items: center;
    position: absolute;
    text-decoration: wavy;
    display: flex;
    box-shadow: 15px solid black;
}

header * {
    display: inline;
}
header li {
    margin: 20px;
}
header li a {
    color: #5b8291;
    text-decoration: none;
}
header li a:hover {
    background-color: #5b8291;
    border-radius: 30px;
}
* {
    box-sizing: border-box;
}

.main-panel {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    background: #f9f9f9;
}
.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: auto 110%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    -webkit-transition: all 700ms ease-in;
}
.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}
.panel.active {
    flex: 5;
}
.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.container {
    align-items: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.button {
    --backgorund: #362a89;
    --text: #fff;
    --cart: #fff;
    --tick: var(--background);
    position: relative;
    border: none;
    background: none;
    padding: 8px 28px;
    border-radius: 8px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    min-width: 144px;
    color: -var(--text);
    background: var(--backgorund);
    transform: scale(var(--scale, 1));
    transition: transform 0.4s cubic-bezier(0.361 1.01, 0.32, 1.27);
}
.button:active {
    --scale: 0.95;
}
.button span {
    font-size: 14px;
    font-weight: 500;
    display: block;
    position: relative;
    padding-left: 24px;
    margin-left: -8px;
    line-height: 26px;
    transform: translateY(var(--span-y, 0));
    transition: transform 0.7s ease;
}
.button span:before, .button span:after {
    content: ''
    ;
}

.people-info {
    text-align: center;
    border: none;
}

.individual {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: 5px;
    height: auto!important;
    padding: 50px 50px;
}

.quienes-somos {
    margin: 90px 90px 90px 90px;
    text-align: center;
}

.main_title {
    text-align: center;
    padding: 30px 30px 30px 30px;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}
@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
}
